<a href="https://colab.research.google.com/github/Hector-B/edd_1310_2021/blob/master/1deoctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Intro Python 3
### Variables
tipo dinamico
escuela = 'Fes Aragon'

In [3]:
escuela = "Fes Aragon"
print (escuela)
print ("----------")
edad = 13
estatura = 1167
fumador = True
frase = """
Esta es una frase de multiples lineas y tambien es un tipo de dato 
"""
print(frase)
nombre = 'jose'
nombre_completo ="jose cardenas sosa"

Fes Aragon
----------

Esta es una frase de multiples lineas y tambien es un tipo de dato

# Print
con comas ,

con signo + 

con format ()

operador f""

In [4]:
print(nombre, edad)

jose 13

In [6]:
# + concatena
print(nombre +str(edad))
print(nombre+nombre_completo)

jose13
josejose cardenas sosa

In [7]:
# con formato -> Nombre:Su nombre es Jose y su edad es de 13 años.
print ("Su nombre es ", nombre, "y su edad es de", edad, "años.")

Su nombre es  jose y su edad es de  13 años.

In [11]:
print("Su nombre es {0} y su edad es de {1} años." .format(nombre,edad) )
print("Su nombre es {1} y su edad es de {0} años." .format(nombre,edad) )

Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.

In [13]:
# con formato con el operador f""

print (f"Su nombre es {nombre} y su edad es de {edad} años." )

Su nombre es jose y su edad es de 13 años.

# Carácter de escape
\n salto de linea

\t tabulador

\a beep

\\* imprimir comilla doble

\\' imprimir comilla simple

In [14]:
"""
Comentario de 
multiple linea
siuuu
"""
print(f"\tMi nombre es \n\t \t {nombre}")

	Mi nombre es
	 	 jose

# Ayuda de tipos de datos en python
dir()
help()

In [ ]:
# str , int , float , bool ... list, dict , set
help(str)

In [23]:
print(nombre_completo.capitalize())
print(nombre_completo.upper() , end="-----" )
print(nombre_completo.title())

Jose cardenas sosa
JOSE CARDENAS SOSA-----Jose Cardenas Sosa

In [22]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Clase String

Es manejada como un arreglo (C o Java ) o lista en Python 

telefono = " Huawei Mate 30 Pro" 
print(telefono[0])

In [26]:
telefono = "Huawei Mate 30 Pro" 
print(telefono[5])

i

# Slicing ( Rebanado)
[ini : stop :incremento] **Selector**
nota : El stop no se incluye,termina en el valor anterior al stop

In [31]:
print(telefono[7:11:1])
# El inicio y el incremento son opcionales
print(telefono[:11:])
# el valor por defecto de stop es leng(str)
print(telefono[::])
# incremento negativo
print (telefono[::-1])
#  Slicing negativo
print (telefono[-3::1])
ini = -3
inc =1
print(telefono[ini::inc])

Mate
Huawei Mate
Huawei Mate 30 Pro
orP 03 etaM iewauH
Pro
Pro

# Metodos de string (str)
Existen metodos muy utiles en esta clase.

In [48]:
facultad= "    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count("u"))    #numero de elementos de la cadena
print(facultad.find("s"))  # encuentra el indice 
print(facultad.strip() ) #elimina los espacios , saltos de linea
tamaño=len(facultad)
print(len(facultad))
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad)
print(facultad.strip().split(" "))
print("--------")

#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
facultad = "FES Aragon"
print(facultad)
print(otra_cadena)

# copiar listas 
colores =["rojo","verde"]
otra = colores.copy() 
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon

3
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
--------
    facultad de estudios superiores aragon

FES Aragon
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']