<a href="https://colab.research.google.com/github/Hector-B/edd_1310_2021/blob/master/6deoctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# String continuacion

numeros_txt= "   1, 2, 3, 4, 5 , 35  , 15 , 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())
  
print(numeros_txt)

# Funcion range

#range(inicio, stop, incremento )
print(range(1,10,3))
rango = range(1,10,2)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

   1, 2, 3, 4, 5 , 35  , 15 , 12
['1', ' 2', ' 3', ' 4', ' 5 ', ' 35  ', ' 15 ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

 # Listas 
 - Mutables
 - declaran con [ ]
 - selector [ int ]
 - pueden ser de cualquier tipo y mezclado

 # tuplas
 - NO mutables
 - declaran con { }
 - selectos [ int ]
 
 # diccionarios
 - Son mutables
 - son conjunto de pares llave:valor
 - Equivalentes a los Objtos JSON de Java Script
 #conjuntos
 - representacion de teoria de conjuntos

In [20]:
 # Listas (Equivalentes a arreglos en otros lenguajes en programacion) 
 # Los datos introducidos en la lista pueden ser de cualquier tipo/ mezclados
 frutas = ["Pera","Manzana", "fresa" ," Kiwi","Naranja"]
 print(frutas)
 cosas = ["cuaderno ", 2 , 3.1416 , True , False , ["Rojo" , "Azul"]]
 print(cosas)
 frutas[2]= "Fresa"    # frutas[2] = frutas[2].capitalize()
 print(frutas)
 # agregar a lista 
 frutas.append("Aguacate") #Append . agrega un elemento final a la lista
 print(frutas)
 frutas.insert(2,"Sandia")
 print(frutas)

 # Concatenar listas

 fecha = ["06", "10", "2020"] # 06/10/2020
 print(fecha)
 fecha_str = "/".join(fecha)
 print(fecha_str)

['Pera', ' Manzana', 'fresa', ' Kiwi', 'Naranja']
['cuaderno ', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', ' Manzana', 'Fresa', ' Kiwi', 'Naranja']
['Pera', ' Manzana', 'Fresa', ' Kiwi', 'Naranja', 'Aguacate']
['Pera', ' Manzana', 'Sandia', 'Fresa', ' Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [62]:
 #Eliminar elementos

cosas = ["cuaderno ", 2 , 3.1416 , True , False , ["Rojo" , "Azul"]]
 print(cosas)
 cosas.append("Libro")
 cosas.append("Lapiz")
 print(cosas)
 algo = cosas.pop()
 print(cosas)
 print(algo)
 
 algo = cosas.pop(2)
 print(cosas)
 print(algo)
 cosas.remove(2)
 print(cosas)

 #Vaciar una lista

 cosas.clear()
 print(cosas)
 
#Ordenar listas
print(frutas)
frutas.sort()
print(frutas)

['cuaderno ', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno ', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno ', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['cuaderno ', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno ', True, False, ['Rojo', 'Azul'], 'Libro']
[]
[' Kiwi', ' Manzana', 'Aguacate', 'Fresa', 'Naranja', 'Pera', 'Sandia']
[' Kiwi', ' Manzana', 'Aguacate', 'Fresa', 'Naranja', 'Pera', 'Sandia']

In [51]:
 # Slicing

 cosas = ["cuaderno ", 2 , 3.1416 , True , False , ["Rojo" , "Azul"]]
 print(cosas[3:5:1])
 print(cosas)
 print(cosas[0][3:5:1])

 numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] #inicia desde  0 , no se incluye el tope
 print(numeros[8:13:])
 print(numeros [:13:])

 #Sustituir rebanadas  -2-2  --> [0,1,2,3,4,5,6,7,-2,-2,13,14,15]
 
 numeros[8:13:] =[-2,-2]
 print(numeros)


 # Preguntar por existencia

 print(-2 in numeros)

[True, False]
['cuaderno ', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True

# Listas multidimension 

listas dentro de listas

In [64]:
computadoras =["HP","Mac Book Bro 17", "Mate Book","Lenovo Legion"]
oss = ["Windows 10" , "Linux" , "Android" , "IOS"]

computo = [computadoras, oss ]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])
dbms = [ ["Mysql", "Open Source", False],["MS SQL Server","de paga", True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Bro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Bro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga